bin/
build/
dbfiles/
datas/
.vscode/
.idea/
cmake-build-debug/
cmake-build-release/
/document/
/.cmake/
/bin/
/build/
/cmake-build-debug/
/CMakeFiles/
/glog-build/
/googletest-build/
/googletest-build/CMakeFiles/
/googletest-build/generated/
/googletest-build/cmake_install.cmake
/googletest-build/CTestTestfile.cmake
/googletest-build/gtest.cbp
/googletest-build/Makefile
/lib/
/test/CMakeFiles/
